.footer {
  background: #ECEEEE;
  color: $title-color;

  &__link {
    color: $title-color;
    transition: .3s linear;
    margin-bottom: 0.5em;;

    &:hover,
    &:active,
    &:focus {
      color: $primary-color;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    color: $primary-color;
    margin: 1.5em 0 1em;
  }

  .about-us {
    width: 35%;
    margin-right: 2em;
  }

  .resources {
    width: 26%;
    margin-right: 2em;

    &__links {
      display: flex;
      justify-content: space-between;

      &-first,
      &-last {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__subscribe {
      position: relative;

      .input-field {
        background: #F5F6F7;
        border: 1px solid #D9D9D9;
        padding-right: 14em;

        &::placeholder {
          color: #4B4C55;
        }
      }

      .button {
        position: absolute;
        padding: 6px 30px;
        top: 3px;
        left: 14.7em;
      }
    }
  }
}