$primary-color: #2E368F;
$primary-light-color: #4F58B8;
$secondary-color: #FFC519;
$secondary-light-color: #FFD559;
$primary-text-color: #ffffff;
$secondary-text-color: #4B4C55;
$title-color: #242E33;
$title-secondary-color: #EEB201;
$dark-elem-color: #1F2569;